# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.x
*.exe
*.out
*.app

# xyz2gaussian_oniom
xyz2gaussian_oniom/*.xyz
xyz2gaussian_oniom/*.2oniom
xyz2gaussian_oniom/control

# distance_matrix
distance_matrix/*.xyz
distance_matrix/out
